@model IEnumerable<Walking_dead.Models.Episode>

@{
    
    ViewBag.Title = "Index";
}

<h2>Episodes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Season)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Episodes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Aired)
        </th>
        <th>
           <div class="phone-view">
            @Html.DisplayNameFor(model => model.Plot)
           </div>
        </th>
        <th>
            <div class="phone-view">
             @Html.DisplayNameFor(model => model.Review)
            </div>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complete)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Season)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Episodes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Aired)
        </td>
        <td>
            <div class="phone-view">
             @Html.DisplayFor(modelItem => item.Plot)
            </div>
        </td>
        <td>
            <div class="phone-view">
             @Html.DisplayFor(modelItem => item.Review)
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Complete)
        </td>
        <td>
          <button type="button" class="btn btn-primary"> @Html.ActionLink("Edit", "Edit", new { id=item.EpisodeID }) </button>
          <button type="button" class="btn btn-primary"> @Html.ActionLink("Details", "Details", new { id=item.EpisodeID }) </button>
          <button type="button" class="btn btn-danger"> @Html.ActionLink("Delete", "Delete", new { id = item.EpisodeID })</button>
</td>
    </tr>
}

</table>
